.singleTableStyle{
    width: 25%;
    margin: 1%;
}

.tableTitle{
    background-color: #E2E2E2;
    text-align: center;
    padding: 1%;
}

.tableContent{
    background-color: #F8F3F3;
    padding: 1%;
}

.taskContainer{
    margin: 5%;
    background-color: #FF6DAF;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}