.leftMenuStyle{
    width: 15%;
    padding: 1%;
    display: grid;
    background-color: #E2E2E2;
    min-height: 846px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}



.automationAndConfiguration {
 display: grid;
}

.buttonsMenuContainer{
    position: absolute;
    bottom: 3%;
    display: grid;
}

.automationBtn{
    
}

.configurationBtn{
   
}

.mainButtonStyle, .addKanbanButton{
    border-radius: 4px;
   background: linear-gradient(to right, #FF8AB3, #FFDC6A) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 16px;
   padding: 18px;
   width: 25vh;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
}

.mainButtonStyle span, .addKanbanButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .mainButtonStyle span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .addKanbanButton span:after{
    content: '\002B';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .mainButtonStyle:hover span,  .addKanbanButton:hover span {
    padding-right: 25px;
  }
  .mainButtonStyle:hover span:after, .addKanbanButton:hover span:after {
    opacity: 1;
    right: 0;
  }